<div class="w-25 text-center mx-auto border border-secondary border-2 border-info rounded mt-5 p-3">
<form>
    <div class="mb-3">
      <label for="user" class="form-label">User:</label>
      <input type="text" class="form-control" id="user">
      
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password:</label>
      <input type="password" class="form-control" id="password" (input)="escribir($event)">
    </div>
    
    <a routerLink="/kanban"class="btn btn-primary">Login</a>
    <a (click)="checkPassword()">Prueba</a>
  </form>
</div>
