<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-3">
      <app-title [titulo]="'New Work'"></app-title>
      <app-new-work></app-new-work>
      
    </div>
    <div class="col-md-6 col-lg-3">
      <app-title [titulo]="'To Do'"></app-title>
      <app-card [titulo]="'To Do'"></app-card>
      
    </div>
    <div class="col-md-6 col-lg-3">
      <app-title [titulo]="'Doing'"></app-title>
      <app-card [titulo]="'Doing'"></app-card>
      
    </div>
    <div class="col-md-6 col-lg-3">
      <app-title [titulo]="'Done'"></app-title>
      <app-card [titulo]="'Done'"></app-card>
    </div>
  </div>
</div>