<form [formGroup]="work" class="text-white my-3" (ngSubmit)="addWork()">
    
    <input type="text" class="form-control my-3" placeholder="Titulo da Tarefa" 
    value={{titulo}} (input)="escribir($event, 'titulo')"
    formControlName="titulo"  id="titulo">

    <textarea class="form-control my-3" id="conteudo" cols="30" rows="10" placeholder="Descripção da tarefa" 
    (input)="escribir($event, 'conteudo')"
    formControlName="conteudo"></textarea>

    <button type="submit" class="btn btn-outline-success p-2  w-100 hover-white">
      <i class="fas fa-plus-square link-success fs-3 hover-white" >ADD</i>
    </button>
    
  </form>
