
<div class="grid">
      <div class="new_work">
        <app-title [titulo]="'New Work'"></app-title>
        <app-new-work></app-new-work>
       
      </div>
      <app-title class="to_do" [titulo]="'To Do'"></app-title>
      <app-title class="doing" [titulo]="'Doing'"></app-title>
      <app-title class="done" [titulo]="'Done'"></app-title>
      
<div class="corpo ">
  <div class="grid-tarefas" *ngFor="let work of cards"><!--para el for-->
    <app-card class="col fazer"  *ngIf="work.lista=='To Do'" [lista]="work.lista" [id]="work.id" [conteudo]="work.conteudo" [titulo]="work.titulo"></app-card>
    <app-card class="col fazendo" *ngIf="work.lista=='Doing'" [lista]="work.lista" [id]="work.id" [conteudo]="work.conteudo" [titulo]="work.titulo"></app-card>
    <app-card class="col pronto"  *ngIf="work.lista=='Done'" [lista]="work.lista" [id]="work.id" [conteudo]="work.conteudo" [titulo]="work.titulo"></app-card>   
        


  </div>     
  <!--Fin del for-->
</div>
</div>   
    
