<div class="container" >
    <div class="row">
      <div class="col-md-6 col-lg-3">
        <app-title [titulo]="'New Work'"></app-title>
        <app-new-work></app-new-work>
       
      </div>
      <app-title class="col-md-6 col-lg-3" [titulo]="'To Do'"></app-title>
      <app-title class="col-md-6 col-lg-3" [titulo]="'Doing'"></app-title>
      <app-title class="col-md-6 col-lg-3" [titulo]="'Done'"></app-title>
      
      <div class="container">
      <div class="row" *ngFor="let work of cards"
      style="position: relative;top:-387px; left: 330px;"><!--para el for-->

        <div class="col-md-6 col-lg-3">
          
          <app-card *ngIf="work.lista=='To Do'" [titulo]="'To Do'"></app-card>
          
        </div>
        <div class="col-md-6 col-lg-3">
          
          <app-card *ngIf="work.lista=='Doing'"[titulo]="'Doing'"></app-card>
          
        </div>
        <div class="col-md-6 col-lg-3">
          
          <app-card *ngIf="work.lista=='Done'" [titulo]="'Done'"></app-card>
        </div>
      </div>
      </div><!--Fin del for-->
    </div>
  </div>