.grid {
  display: grid;
  grid-template:
    "new_work to_do doing done"
    "new_work corpo corpo corpo";
  grid-gap: 10px;
}
.new_work {
  grid-area: new_work;
  max-width: 90%;
}
.to_do {
  grid-area: to_do;
}
.doing {
  grid-area: doing;
}
.done {
  grid-area: done;
}
.corpo {
  grid-area: corpo;
}
.grid-tarefas {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 334px));
  gap: 10px;
  /*grid-template: "fazer fazendo pronto"; 
*/
}
.fazer {
  grid-column: 1;
}
.fazendo {
  grid-column: 2;
}
.pronto {
  grid-column: 3;
}
@media screen and (max-width: 1000px) {
  .to_do,
  .doing,
  .done {
    display: none;
  }
  .grid,
  .grid-tarefas {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .grid-tarefas {
    margin-left: 0%;
  }
}
