<div>
<span id="id">ID: {{id}} </span>
<div class="card-header d-flex justify-content-between">
     <input type="text" id="titulo" value={{titulo}} [disabled]="edit" [(ngModel)]="titulo">
      
     <i class="fas fa-edit fs-3 cursor" (click)="editMode('y')"
     *ngIf="edit==!false; else undo1"></i>
     <ng-template #undo1><i id='undo1'class="fas fa-undo-alt fs-2" (click)="editMode('n')"></i></ng-template>
    
</div>
    <div class="card-body">
      <h5 class="card-title">description</h5>
      <textarea [disabled]="edit" class="card-text" id="conteudo" [(ngModel)]="conteudo"rows="5">{{conteudo}}</textarea>
    </div>
    <div class="card-footer d-flex justify-content-between" >
        <i class="far fa-arrow-alt-circle-left fs-2 cursor" *ngIf="lista!='To Do'; else whiteSpace" (click)="buttonLeft(id,titulo, conteudo, lista)"></i>
        <i class="fas fa-trash-alt fs-3 cursor"*ngIf="edit==!false; else guardar" (click)=delete(id)></i>
        <i class="far fa-arrow-alt-circle-right fs-2 cursor" *ngIf="lista!='Done'; else whiteSpace" (click)="buttonRight(id,titulo, conteudo, lista)"></i>
        <ng-template #whiteSpace><span></span></ng-template>
        <ng-template #guardar><i class="fas fa-save fs-3 cursor" (click) = "save(id,titulo, conteudo, lista)"></i></ng-template>
    </div>
  </div>
